.doc-sidenav{
    background-image: url(./../../../public/dist/bg.jpg);
    background-size: 360px 480px;
    position: relative;
}
.doc-sidenav:after{
    background:linear-gradient(0deg, #123f6e, #2b548352);
    backdrop-filter: blur(2px);
}
.doc-sidenav .ai-sidenav-header{
    border-bottom:1px solid #2f3b53;
}
.doc-sidenav .aio-input-tree-body .aio-input-tree-body{
    background:rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
    padding:12px 0;
}
.doc-sidenav .ai-sidenav-item.active{
    background:#3c8fff96;
}
.doc-sidenav .ai-sidenav-sub-item.active{
    background:#3c8fff96;
}



