.ai-toggle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ai-toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ai-indent-line {
    stroke: #c0cbd3;
    stroke-dasharray: 1, 3;
}

.ai-toggle-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(50% - 12px);
}

.ai-indents {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.ai-indent {
    height: 100%;
    position: relative;
}

.ai-indent svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}



.ai-indent-6 {
    height: 6px;
}

.ai-indent-12 {
    height: 12px;
}

.ai-indent-18 {
    height: 18px;
}

.ai-indent-24 {
    height: 24px;
}

.ai-indent-30 {
    height: 30px;
}

.ai-indent-36 {
    height: 36px;
}

.ai-indent-42 {
    height: 42px;
}

.ai-indent-48 {
    height: 48px;
}

.ai-indent-54 {
    height: 54px;
}

.ai-indent-60 {
    height: 60px;
}
.ai-card {
    width: 100%;
    gap: 6px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 16px;
    position: relative;
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.ai-card-body {
    flex: 1;
}

.ai-card-subtext {
    font-size: 75%;
    opacity: 0.7;
}

.ai-card:hover {
    background: #0069ff;
    color: #333;
    font-weight: bold;
}

.ai-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 13px;
    width: 100%;
    flex-shrink: 0;
    flex: 1;
    border: 1px solid #0069ff;
}

.ai-panel-header {
    font-size: 18px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    height: 48px;
    gap: 12px;
    color: #fff;
    background: #0069ff;
}

.ai-panel-texts {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ai-panel-subtext {
    font-size: 75%;
    opacity: 0.8;
    transform: translateY(-3px)
}

.ai-panel-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.ai-month {
    display: flex;
    flex-direction: column;
}

.ai-month-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-month-select {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 12px;
}

.ai-month-selected-month {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-month-body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.ai-month-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
}

.ai-month-grid {
    display: grid;
    gap: 1px;
    position: relative;
    width: 100%;
}

.ai-month-weekday {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    align-items: center;
    justify-content: center;
    height: 36px;
}

pre[class*="language-"],
code[class*="language-"] {
    color: #d4d4d4;
    font-size: 13px;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
    text-shadow: none;
    background: #264F78;
}


.ai-sidenav{
    transition: width 0.3s;
    width: 240px;
    background:#555;
    color:#fff;
    height:100%;
    position: relative;
    overflow:hidden;
    display:flex;
    flex-direction: column;
}
.ai-sidenav-minimize{
    transition: width 0.3s;
    width: 48px;
}
.ai-sidenav-minimize-button{
    height:48px;
    display:flex;
    align-items: center;
    padding:0 6px;
    z-index:10;
    position: relative;
}
.ai-sidenav-minimize-icon{
    width:36px;
    height:36px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ai-sidenav:after{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(0deg, black, transparent)
}
.ai-sidenav-tree{
    z-index:10;
    position: relative;
}
.ai-sidenav .aio-input-tree-body .aio-input-tree-body{
    background:rgba(0,0,0,0.08);
    padding:12px 0;
}
.ai-sidenav-body{
    flex:1;
    overflow-y: auto;
    z-index:10;
}
.ai-sidenav-tree{
    background:none ;
}
.ai-sidenav-item.active{
    background:#637da0
}
.ai-sidenav-item .ai-sidenav-item-before{
    width:36px;
    height:36px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:100%;
    background:rgba(0,0,0,0.2)
}
.ai-sidenav-sub-item{
    padding-inline-end: 12px;
}
.ai-sidenav-sub-item.active{
    background:#637da0
}
.ai-sidenav-sub-item .ai-sidenav-item-before{
    width:36px;
    height:36px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ai-sidenav-toggle{
    width:24px;
    height:24px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ai-sidenav-header{
    display:flex;
    align-items: center;
    gap:12px;
    box-sizing: border-box;
    border-bottom:1px solid #555;
    z-index:10;
    position: relative;
}
.ai-app {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ai-app-content{
    display: flex;
    flex: 1;
    overflow: hidden;
}
.ai-app-center{
    flex:1;
    height:100%;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.ai-app-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 24px;
    flex-shrink:0;
}

.ai-app-body {
    flex: 1;
    padding-top: 0;
    overflow: auto;
    height:100%;
    display:flex;
    flex-direction: column;
}

.ai-app-bottom-menu {
    height: 48px;
    display: flex;
    color: #333;
    background: #fff;
    flex-shrink: 0;
}

.ai-app-bottom-menu-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
}

.ai-app-bottom-menu-option.active {
    background: #0069ff;
    color: #fff;
}

.ai-app-bottom-menu-option-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ai-app-bottom-menu-subtext {
    height: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.tick-credits{
    display:none !important
}

.aio-filter{
    background: #f8f8f8;
    display: flex;
    align-items: center;
    padding:6px 0;
}
.aio-filter-tags{
    left: 0;
    display: flex;
    flex:1;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
    padding:0 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap:4px;
}
.aio-filter-tag{
    background:#eee;
    cursor: pointer;
    padding:0 8px;
    height:24px;
    border-radius:24px;
    display:flex;
    align-items: center;
    gap:4px;
    flex-shrink: 0;
}
.aio-filter-tag-column{
    font-weight: bold;
}
.aio-filter-tag-operator{
    color:#0069ff;
}
.aio-filter-tag-value{
    color:orange;
}
.aio-filter-modal-size > .aio-popup{
    padding:12px;
    width: 100vw;
    max-width:772px;
    height:80vh;
}
.aio-filter-add-button{
    display:flex;
    align-items: center;
    gap:6px;
    border:none;
    background:none;
    height:36px;
}

.aio-filter-icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height:30px;
    margin:0 6px;
    background:#eee;
    border-radius:4px;
    border:none;
    cursor: pointer;
}
.aio-filter-button{
    background:none;
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height:30px;
    border-radius:4px;
    color:#0069ff;
    gap:6px;
    padding:0 12px;
    cursor:pointer;
    position: relative;
}
.aio-filter-badge{
    background:orange;
    color:#fff;
    min-width:16px;
    height:12px;
    border-radius:12px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:10px;
    position: absolute;
    top:-6px;
    right:-3px;
}
.aio-filter-modal .aio-popup-header{
    height:60px;
}
.aio-filter-items{
    padding:12px;
}
.aio-filter-button:disabled{
    opacity:0.5;
    cursor:not-allowed;
}
.aio-filter-active-button{
    background:#0069ff;
    color:#fff;
}
.aio-filter-body{
    display: flex;
    flex-direction: column;
    gap:6px;
}
.aio-filter-row{
    display:flex;
    align-items: center;
    gap:6px;
}
.aio-filter-row .aio-input{
    flex:1;
}
.aio-filter-toolbar{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:6px;
}

.aio-filter-saved-row{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background:#fff;
    flex-shrink: 0;
}
.aio-filter-saved-modal{
    width: 100%;
    display:flex;
    flex-direction: column;
    gap:6px;
    background:#eee;
    height:100%;
    overflow-y: auto;
    padding:6px;
}
.aio-filter-save-modal{
    padding:12px;
    display:flex;
    flex-direction: column;
    gap:12px;
}
.aio-filter-save-modal-footer{
    display:flex;
    gap:6px;
}
.aio-filter-saved-row-header{
    height:36px;
    display:flex;
    align-items: center;
    gap:6px;
    padding:0 24px;
}
.aio-filter-saved-row-body{
    display:flex;
    gap:6px;
    padding:6px;
}
.aio-filter-saved-name{
    flex:1;
}
.aio-filter-backdrop{
    background:rgba(0,0,0,0.7);
}

.aio-paging {
    padding: 6px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
}

.aio-paging-button {
    border: 1px solid #ddd;
    background: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0 3px;
}

.aio-paging-button-hidden {
    opacity: 0;
}

.aio-paging-size {
    min-width: 60px;
    padding:0;
}
.aio-paging-button.active {
    border: 1px solid #0069ff;
    color: #fff;
    background: #0069ff;
    opacity: 1;
}
.aio-sort-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    border: none;
    background: none;
}
.aio-sort-header {
    padding: 6px;
    min-height: unset;
}