.btn-123{
    width:110px;
    height:30px;
    border:1px solid #aaa;
    color:#666;
    border-radius:4px;
}
.my-snackebar{
    background:#fff;
    padding-top:16px;
    color:#666;
    width:fit-content;
    border-radius:6px;
}
.my-snackebar .aio-popup-snackebar-item-uptext{
    font-size:16px;
    font-weight:bold;
}
.my-snackebar .aio-popup-snackebar-bar{
    background:#36CB8C;
}
.modal-header-after{
    display:flex;
    align-items: center;
    gap:3px;
}
.modal-header-after button{
    background:none;
    border:none
}
.ex-button-1{
    border:1px solid dodgerblue;
    color:dodgerblue;
    background:#fff;
    border-radius:4px;
    font-size:12px;
    padding:6px 24px;
}
.ex-button-2{
    border:1px solid dodgerblue;
    background:dodgerblue;
    color:#fff;
    border-radius:4px;
    font-size:12px;
    padding:6px 24px;
}

