@font-face {
  font-family: IRANSans-light;
  font-style: normal;
  font-weight: 300;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    url('./iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans-ultra-light;
  font-style: normal;
  font-weight: 200;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
    url('./iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans-Medium;
  font-style: normal;
  font-weight: 200;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    url('./iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@media screen and (max-width: 768px) {.rsa-hide-xs {display: none !important;}}
@media screen and (min-width: 768px){.rsa-show-xs {display: none !important;}}



* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body{
  overscroll-behavior-y: contain;
}
.rsa {
  font-family: IRANSans-light;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  filter: blur(0);
  overflow: hidden;
  display:flex;
}

.rsa-main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  left: 0;
  top: 0;
  display:flex;
}
.rsa-page{
  display:flex;
  flex-direction:column;
  flex:1;
  overflow:hidden;
  height:100%;
  position: relative;
}
.rsa-body {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex:1;
  flex-direction: column;
  overflow:hidden;
}
.rsa-blur {
  filter: blur(5px);
}

.rsa.rtl {
  direction: rtl;
}

.loading {
  z-index: 100000000000000;
  position: absolute;
  direction: ltr;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  background: rgba(0, 0, 0, .6)
}

@keyframes loadingScaleY {

  0%,
  40%,
  100% {
    transform: scaleY(1);

  }

  20% {
    transform: scaleY(1.6);
  }
}

.cube {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.rsa-header {
  height: 48px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ddd;
  color: #323130;
  display:flex;
  align-items: center;
  flex-shrink:0;
  box-sizing: border-box;
}
.rsa-header-text{
  flex:1;
  display:flex;
  flex-direction: column;
}
.rsa-header-title {
  font-size: 16px;
  font-weight: bold;
}

.rsa-header-subtitle {
  font-size: 12px;
  opacity: 0.7;
}

.rsa-header-username {
  font-size: 16px;
  color: #605E5C;
}


.rsa-sidemenu {
  background: #fff;
  color: #666;
  width: 240px;
  height: 100%;
  box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 16%)
}
.rsa-side-icon{
  width:60px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.rsa-sidemenu-header {
  min-height: 24px;
}
.rsa-sidemenu-items{
  flex:1;
  display:flex;
  flex-direction: column;
  overflow-y:auto;
  flex-shrink:0;
}
.rsa-sidemenu-item {
  border-radius: 6px;
  font-size: 14px;
  height:36px;
  display:flex;
  flex-shrink: 0;
}
.rsa-sidemenu-item-icon{
  width:48px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.rsa-sidemenu-item-text{
  display:flex;
  align-items: center;
}
.rsa-navigation {
  background: #0069ff;
  width: 240px;
  display:flex;
  flex-direction: column;
  flex-shrink:0;
  overflow:hidden;
  height:100%;
}

.rsa-navigation-items{
  flex:1;
  overflow-y:auto;
  display:flex;
  flex-direction: column;
  flex-shrink:0;
}
.rsa-navigation-item {
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  padding:0 12px;
  height: 48px;
  white-space: nowrap;
  user-select: none;
  display:flex;
  flex-shrink:0;

}
.rsa-navigation-item.active {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
.rsa-navigation-item-text{
  display:flex;
  align-items: center;
  justify-content: center;
}
.rsa-navigation-icon{
  width:48px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.rsa-toggle{
  width:24px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.rsa-bottom-menu-container{
  width:100%;
  box-sizing: border-box;
}
.rsa-bottom-menu {
  background:#fff;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.1);
  height: 54px;
  box-sizing: border-box;
  font-size: 12px;
  overflow-x: auto;
  display:flex;
  width:100%;
  flex-shrink:0;
  background:#fff;
}
.rsa-bottom-menu-item {
  flex-shrink: 0;
  min-width:16%;
  box-sizing: border-box;
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#444;
  opacity:0.6;
}
.rsa-bottom-menu-item-icon{
  display:flex;
  align-items: center;
  justify-content: center;
}

.rsa-bottom-menu-item-text {
  white-space: nowrap;
  display:flex;
  align-items: center;
  justify-content: center;
}
.rsa-bottom-menu-item.active {
  background:#fff;
  color:#0069ff;
  font-weight:bold;
  opacity:1;
}

.rsa-navigation-title {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

.rsa-navigation-subtitle {
  color: #FFF;
  font-size: 14px;
}
