.aio-chart{
    width:100%;
    height:600px;
    border:1px solid;
    display: flex;
    flex-direction: column;
}
.aio-chart-top{
    flex:1;
    display:flex;
}
.aio-chart-axis{
    position:relative;
}
.aio-chart-vertical-axis{
    background:orange;
}
.aio-chart-bottom{
    background:yellow;
    display:flex;
}
.aio-chart-horizontal-axis{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    position: relative;
}
.aio-chart-canvas{
    flex:1;
    position:relative;
}
.aio-chart-canvas canvas{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.aio-chart-corner{
    background:pink;
}
.aio-chart-labels-horizontal{
    position: absolute;
    height:100%;
    width:100%;
    left:0;
    top:0;
}
.aio-chart-x-label{
    position: absolute;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}