.spanel-container {
    background-color: #f1f1f1;
    height: 500px;
    width: 100%;
}

.spanel-double {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 156px;
    border-radius: 12px;
    box-shadow: inset -4.015625px -5px 15px rgba(255, 255, 255, 0.81),
        inset 4.015625px 5px 10px rgba(0, 0, 0, 0.18);
}

.spanel-double:before {
    content: '';
    position: absolute;
    height: calc(100% - 24px);
    width: calc(100% - 24px);
    left:12px;
    top:12px;
    border-radius: 7px;
    box-shadow: -4.015625px -5px 15px rgba(255, 255, 255, 0.81),
        4.015625px 5px 10px rgba(0, 0, 0, 0.18);
}

.spanel-out {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 156px;
    border-radius: 12px;
    box-shadow: inset -4.015625px -5px 15px rgba(255, 255, 255, 0.81),
        inset 4.015625px 5px 10px rgba(0, 0, 0, 0.18);
}
.spanel-in{
    height: 60px;
    width: 120px;
    display:flex;
    align-items: center;
    justify-content: center;
    left:12px;
    top:12px;
    border-radius: 7px;
    box-shadow: -4.015625px -5px 15px rgba(255, 255, 255, 0.81),
        4.015625px 5px 10px rgba(0, 0, 0, 0.18);
}

.spanel-double1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 156px;
    border-radius: 12px;
    box-shadow:inset -1px 1px 5px 1px rgb(0 0 0 / 17%);
}

.spanel-double1:before {
    content: '';
    position: absolute;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    left:6px;
    top:6px;
    z-index:0;
    border-radius: 7px;
    box-shadow:2px 2px 4px 0px rgb(0 0 0 / 16%);
        background:linear-gradient(323deg, #b7b3b32b, #ffffff);
}
.spanel-double1:active:before {
    box-shadow:2px 2px 4px 0px rgb(0 0 0 / 16%);
    background:linear-gradient(323deg, #7a7a7a11,#7a7a7a11);
}