
.freelancer-grid .aio-input{
    font-size:12px;
}
.freelancer-grid .aio-input-text{
    border-radius:12px;
    border:1px solid #aaa;
    height: 40px;
}
.freelancer-grid .aio-input-select{
    border-radius:12px;
    border:1px solid #aaa;
    height: 40px;
}
.freelancer-grid .aio-input-checkbox{
    height: 36px;
}
.freelancer-grid .aio-input-tabs-option.active{
    color:#EF5644;
}
.freelancer-grid .ai-form-input-header{
    position: absolute;
    z-index: 10;
    font-size: 10px;
    top: -10px;
    right:12px;
    width:fit-content;
}
.freelancer-grid .ai-form-input-label{
    font-size: 12px;
    background:#fff;
    width:fit-content;
    flex:none;
    color:#666;
    padding:0 6px;
    height:12px;
}
.freelancer-grid .aio-input-table-paging-button.active{
    background:#ef5644 !important;
    border:rgb(239, 86, 68) !important;
}
.freelancer-grid .aio-input-table{
    color:#222;
}
.fl-button-1{
    border:none;
    display: flex;
    align-items: center;
    height:36px;
    border-radius:6px;
    padding:0 24px;
    background:#ef5644;
    color:#fff;
    font-size:14px;
}
.fl-button-2{
    border:none;
    display: flex;
    align-items: center;
    height:36px;
    border-radius:6px;
    color:#ef5644;
    padding:0 24px;
    background:none;
    font-weight: bold;
    font-size:14px;
}