.scale-round-small{
    width:4px !important; 
    height:1px !important;
}
.scale-round-medium{
    width:8px !important; 
    height:2px !important;
}
.scale-round-large{
    width:12px !important; 
    height:3px !important;
}

.scale-red{
    background:red;
}

.badge{
    background:dodgerblue;
    color:#fff;
    height:16px;
    line-height:16px;
    font-size:12px;
    padding:0 3px;
    min-width:12px;
    text-align: center;
    border-radius:4px;
}

.custom-row{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border: 1px solid #ddd;
    background:dodgerblue;
    color:#fff;
    border-radius:12px;
    margin: 6px;
}
.custom-rows{
    display:flex;
    flex-wrap: wrap;
}
.my-list{
    font-size:12px;
}
.gauge-html{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gauge-text{
    font-size:24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gauge-subtext{
    font-size:12px;
    font-weight: bold;
}

.submit-button{
    background: dodgerblue;
    color:#fff;
    border:none;
    border-radius:4px;
    padding:6px 24px;
}
.submit-button:disabled{
    background: #999;
    opacity:0.5;
}
.my-form-errors{
    color:red;
}
.aio-input-mask{
    display:flex;
    border:1px solid #ddd;
    width:fit-content;
    padding:0 12px;
}
.aio-input-mask .aio-input{
    border:none;
    padding:0;
}
.aio-input-mask input{
    padding:0;
    letter-spacing: 3px;;
    padding:0;
    border:none;
    border-bottom:1px solid #aaa;
    
}
.aio-input-mask-gap{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:3px;
    color:#aaa;
}