.custom-row{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border: 1px solid #ddd;
    background:dodgerblue;
    color:#fff;
    border-radius:12px;
    margin: 6px;
}
