.en-app{
    direction:rtl;
}
.en-app ul{
    padding:0 12px;
    margin:0;
    box-sizing: border-box;
}
.en-header{
    background:#53c5d4;
    color:#fff;
    padding:3px 12px;
    margin-bottom:0;
    font-size:12px;
    direction: rtl;
}
.en-body{
    background:#e0ebea;
    padding:12px;
    font-size:10px;
}
.en-panel{
    margin:12px;

}
.en-page-header{
    background:#67678a;
    padding:6px 12px;
    color:#fff;
}
.topic-buttons{
    display:flex;
    flex-wrap:wrap;
    gap:3px;
    flex:1;
    padding:12px;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
}
.topic-button{
    background:#53c5d4;
    color:#fff;
    border-radius:12px;
    width:120px;
    height:120px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.en-home{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.en-notice{
    background:#c2dce2;
    color:#000;
    margin:6px;
    border-radius:6px;
    padding:6px 12px;
    direction: rtl;
    font-size: 10px;
}
.en-strong{
    background:rgba(255, 255, 255, 0.411);
    padding:0 3px;
    border-radius:3px;
}
.en-table{
    border:1px solid;
    width: 100%;
    border-collapse: collapse;
}
.en-table td{
    padding:6px;
}
.en-question{
    padding:12px;
}
.en-result{
    width:100%;
    font-size:10px;
    display: flex;
    justify-content: flex-end;
}
.en-question-en{
    width:100%;
    font-size:12px;
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-end;
}
.en-button{
    border:none;
    border-radius:4px;
    color:#fff;
    padding:3px 16px;
}
.en-danger{
    background:red;
}
.en-warning{
    background:orange;
}
.en-info{
    background:#0069ff;
}
.en-success{
    background:green;
}
.en-show-question-button{
    width:160px;
    height:160px;
    border-radius:12px;
    border:3px dashed #0069ff;
    color:#0069ff;
    background:#0069ff30;
    font-size:16px;
    font-weight:bold;
}
.en-score-item{
    background:#d7ca31;
    padding:6px;
    border-radius:6px;
}
.en-score-item-value{
    background:#fff;
    padding:0 6px;
    border-radius:4px;
    direction:ltr;
}