.aio-popup-alert {
    overflow: hidden !important;
    border-radius:8px;
  }
  
  .aio-popup-alert svg {
    fill: #fff !important;
    border-radius: 100%;
    padding: 12px;
  }
  .aio-popup-alert-error .aio-popup-alert-header {
    background: #f14747;
  }
  .aio-popup-alert-error .aio-popup-time-bar {
    background: #f14747;
  }
  .aio-popup-alert-error .aio-popup-alert-footer button{
    background: #f14747;
  }
  .aio-popup-alert-success .aio-popup-alert-header {
    background: #6EBC3D;
  }
  .aio-popup-alert-success .aio-popup-time-bar {
    background: #6EBC3D;
  }
  .aio-popup-alert-success .aio-popup-alert-footer button{
    background: #6EBC3D;
  }
  .aio-popup-alert-warning .aio-popup-alert-header {
    background: #ff7800;
  }
  .aio-popup-alert-warning .aio-popup-time-bar {
    background: #ff7800;
  }
  .aio-popup-alert-warning .aio-popup-alert-footer button{
    background: #ff7800;
  }
  .aio-popup-alert-info .aio-popup-alert-header {
    background: #0069ff;
  }
  .aio-popup-alert-info .aio-popup-time-bar {
    background: #0069ff;
  }
  .aio-popup-alert-info .aio-popup-alert-footer button{
    background: #0069ff;
  }
  .aio-popup-alert-header {
    height:144px;
  }
  .aio-popup-alert-text {
    color:#000;
    font-size:18px;
    padding:16px;
  }
  .aio-popup-alert-subtext {
    color:#444;
    font-size:14px;
    justify-content: center;
    display:flex;
  }
  .aio-popup-alert-footer {
    justify-content: center;
    padding:36px;
    height:unset;
  }
  .aio-popup-alert-footer button{
    width:100%;
    height:36px;
    border-radius:24px;
  }