.sample-loader{
    width:60px;
    height:60px;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform: rotate(360deg)}
}

.res-option{
    flex:1;
    border:12px solid #aaa;
    cursor:pointer;
}
.res-option.active{
    border:12px solid yellow;
}