body{
    margin:0;
    font-family:cursive
  }
  .App{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
  }
  .puzzle{
    width:100%;
    height:100%;
    padding:6px;
    box-sizing: border-box;
    position:fixed;
    background-color: rgb(255, 230, 0);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #2533f7 10px, #5e66e2 20px);
    left:0;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .puzzle .r-floater{
    left:0;
    bottom:0;
    height:unset;
    flex:1;
    border:none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
background: rgb(181,189,200); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  .list{
    top:0;
    left:0;
    width:100%;
    overflow-x:auto;
    overflow-y: hidden;
    display:flex;
    background:rgb(255, 208, 0);
  }
  .list-item{
    position:relative;
    flex-shrink: 0;
    display: inline-block;
    margin:0 2px;
    display:flex;
  }
  .toolbar{
    height:48px;
    background:#727d8a;
    width:100%;
    display:flex;
    align-items: center;
    padding:0 6px;
    box-sizing: border-box;
  }
  .toolbar-item{
    font-size:14px;
    height:30px;
    border-radius:20px;
    display:flex;
    color:#fff;
    padding:0 6px;
    align-items: center;
    justify-content: center;
    border:2px solid #fff;
    width:120px;
    margin-right:24px;

  }

  .menu{
    flex:1;
    height:calc(100% - 24px);
    width: 100%;
    max-width:700px;
    display:flex;
    align-items: center;
    flex-direction: column;
    background:#fff;
    -webkit-user-select: none;
    user-select: none;
  }
  .app-name{
    font-size: 24px;
  }
  .menu-body{
    flex:1;
    width: calc(100% - 24px);
    border:3px dashed rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius:36px;
    display: flex;
    flex-direction: column;
    background:rgb(189, 192, 207);
    padding:24px;
  }

  .menu-label{
    display:flex;
    align-items: center;
    font-size:24px;
    padding:0 12px;
    color:#fff;
  }
  .menu-button{
    background:#0099ff;
    color:#fff;
    border:2px solid #fff;
    flex:1;
    height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 8px;
    font-size: 15px;
    font-family: inherit;
  }
  .menu-slice{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
  }
  .menu-slice input{
    height:36px;
    flex:1;
    text-align:center;
    background:none;
    border:none;
    min-width:100px;
    color:#fff;
    border-radius:8px;
    font-size: 24px;
    border:2px solid #fff; 
    
  }
  .menu-slice .x{
    font-size:24px;
    min-width: 24px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .menu-start{
    color:#fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top:12px;
  }
  .menu-start div{
    background:#0099ff ;
    border:3px solid #fff;
    border-radius:16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:300px;
  }

  .menu-about{
    justify-content: center;
    text-align: center;
    line-height:8px;
    color: #fff;
    font-size: 12px;
  }
  .browse{
    flex:1; 
    cursor:pointer;
  }
  .browse label{
    font-size: 16px;
    background:none ;
    cursor: pointer;
    min-width:80px;
    max-width:120px;
    height:36px;
    border:2px solid #fff;
    display:flex;
    background:#0099ff;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  #file{
    display: none;;
  }
  .menu-image{
    flex:1;
    display:flex;
  }
  .prev{
    width:48px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .prev-icon{
    width:48px;
    height:96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prev-icon:before{
    content:'';
    border-right:36px solid #fff;
    border-top:48px solid transparent;
    border-bottom:48px solid transparent;  
  }
  .next{
    width:48px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .select-image{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .preview{
    width:100%;
    height:100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .next-icon{
    width:48px;
    height:96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .next-icon:before{
    content:'';
    border-left:36px solid #fff;
    border-top:48px solid transparent;
    border-bottom:48px solid transparent;  
  }
  .grid{
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
  }