.my-input:not(.aio-input-slider-pinch){
    border:1px solid #eee;
}
.badge{
    background:dodgerblue;
    color:#fff;
    height:16px;
    line-height:16px;
    font-size:12px;
    padding:0 3px;
    min-width:12px;
    text-align: center;
    border-radius:4px;
}
.show-code{
    color:darkblue;
    background:none;
    border:none;
    text-decoration: underline;
    font-size:12px;
}
.aio-input-range-pinch .pinch-scale-small{
    width:4px; 
    height:1px;
}
.aio-input-range-pinch .pinch-scale-medium{
    width:8px; 
    height:2px;
}
.aio-input-range-pinch .pinch-scale-large{
    width:12px; 
    height:3px;
}
.aio-input-range-pinch .pinch-scale-red{
    background:red;
}
.slider-scale-small{
    height:4px; 
    width:1px;
}
.slider-scale-medium{
    height:8px; 
    width:2px;
}
.slider-scale-large{
    height:12px; 
    width:3px;
}
.slider-scale-red{
    background:red;
}