@font-face {
  font-family: IRANSans-light;
  font-style: normal;
  font-weight: 300;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
    url('./iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans-ultra-light;
  font-style: normal;
  font-weight: 200;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
    url('./iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans-Medium;
  font-style: normal;
  font-weight: 200;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    url('./iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    url('./iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
    url('./iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
body{
  font-family:IRANSans-Light;
}
.aio-components{
  display:flex;
  flex-wrap: wrap;
}

.aio-component{
  border:1px solid #ddd;
  border-radius:6px;
  padding:12px;
  background:dodgerblue;
  color:#fff;
  margin:6px;
}

.aio-component-splitter{
  height:2px;
  width:100%;
  background:#ddd;
  margin-bottom:12px;
  
}
.part-title{
  padding:12px;
  color:#fff;
  font-weight:bold;
  width:100%;
  font-size:20px;
  display:flex;
  justify-content: center;
}
.example{
  padding:12px;
  width:100%;
  overflow-y:auto;
  color:#555;
  box-sizing: border-box;
  height:100%;
  position: relative;
}
.example ul{
  padding:0 16px;
  font-size:12px;
  font-weight:bold;
}
.example h3{
  margin:12px 0;
  font-weight: bold;
  color:#000;
}
.example h5{
  margin:0;
  color:#000;
}
.bold{
  font-weight: bold;
}
.size10{
  font-size:10px;
}
.size12{
  font-size:12px;
}
.size14{
  font-size:14px;
}
.size16{
  font-size:16px;
}
.size18{
  font-size:18px;
}
.aio-component-table{
  border:1px solid #ddd;
  border-collapse: collapse;
  font-size:12px;
  width:100%;
}
.aio-component-table thead{
  border-bottom:1px solid #ddd;
}
.aio-component-table td{
  border-right:1px solid #ddd;
  padding: 6px;
}
.aio-component-table tr{
  border-bottom:1px solid #ddd;
}
.aio-component-table th{
  border-right:1px solid #ddd;
  padding: 6px;
}