.panel{
    background:#ddd;
}
.table{
    color:#fff;
}
.table-row1-col1{
    background:red;
}
.table-row1-col2{
    background:orange;
}
.table-row2-col1{
    background:blue;
}
.table-row2-col2{
    background:green;
}
.table-row1{
    border:3px solid pink;
}
.table-row2{
    border:3px solid yellow;
}

.y-effect.not-mounted{
    transform:translateX(100vw);
    opacity:0;
    transition:1s;
}
.y-effect{
    transform:translateX(0vw);
    opacity:1;
    transition:1s;
}
.x-effect.not-mounted{
    transform:rotateX(90deg);
    transition:1s;
}
.x-effect{
    transform:rotateX(0deg);
    transition:1s;
}
